/* Contenido general de la pagina */
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    align-items: center;
    justify-content: center;
}

/* ESTILOS HEADER */
.header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    opacity: 0.9;
    padding: 10px;
    z-index: 5;
    background-color: #ff7217;
    border-bottom: 2px solid black;
}

.header__logo {
    display: flex;
    width: 80px;
    border-radius: 50px;
    max-width: 15vw;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    align-content: center;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

.header__logo:hover {
    transform: scale(1.1);
}

.header__logo img {
    width: 100%;
    border-radius: 50% 50%;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header__img {
    width: auto;
    border-radius: 50px;
    max-width: 100%;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
    color: #fff;
}

.header__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: 1px solid #dbdbdb; */
    /* border-bottom: 1px solid #dbdbdb; */
}

.header__btn {
    background-color: #FFA500;
    /* Fondo naranja */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* borde redondeado */
    color: #FFFFFF;
    /* Texto en blanco */
    padding: 12px 30px;
    /* Espaciado interno */
    font-size: 18px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease;
    /* Transición suave */
}

.header__btn:hover {
    background-color: #ff7217;
    /* Cambia el fondo al pasar el mouse */
}

.header__btn--back {
    /* background-color: #2d1e3b; Fondo naranja */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* borde redondeado */
    color: #FFFFFF;
    /* Texto en blanco */
    padding: 12px 30px;
    /* Espaciado interno */
    font-size: 20px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease;
    /* Transición suave */
}

.header__a {
    display: flex;
    text-decoration: none !important;
    color: #fff !important;
    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */

}

.header__btn--red {
    display: block;
    height: 40px;
    width: 100px;
    justify-items: baseline;
    text-align: center;
    padding: auto;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
    background-color: red;
}

/* Contenido btn_modal/ */
.boton__modal {
    padding: 20px;
    /* /background-color: white;/ */
    color: black;
}

.boton__modal a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #2A3A5B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton__modal label {
    padding: 10px;
    background-color: #2A3A5B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton__modal:hover a,
.boton__modal:hover label {
    background-color: #185e83;
}

/* /Contenido input checkbox modal/ */
#boton__modal--btn {
    display: none;
}

/* /Contenido modal/ */
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#boton__modal--btn:checked~.modal {
    display: flex;
}

.modal__body {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    flex-direction: column;
}

.modal__body h3 {
    flex-grow: 1;
    margin-bottom: 15px;
    text-align: center;

}

.modal__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.modal__btn {
    display: block;
    height: 40px;
    width: 100px;
    justify-items: baseline;
    text-align: center;
    padding: auto;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
    background-color: black;
}

.modal__a {
    display: flex;
    text-decoration: none !important;
    color: #fff !important;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}

.modal__footer {
    display: flex;
    justify-content: flex-end;
}

.modal__footer label {
    padding: 7px 7px;
    background-color: #5488a3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 30ms ease;
}

.modal__footer label:hover {
    background-color: #185e83;
}

.main-container {
    display: flex;
}


/* MENÚ SIDEBAR */
.sidebar {
    width: 20%;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    z-index: 1;
}

/* Animaciones de sidebareeee */
.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sidebar li {
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

/* icons */
.sidebar i {
    margin-right: 8px;
    /* Espacio entre el icono y el texto */
    font-size: 24px;
    /* Tamaño del icono */
    color: #FF7218;
    /* Color del icono */
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

/* Animación de cambio de color al pasar el ratón por encima */
.sidebar li:hover i {
    color: #333;
}

.sidebar a:hover {
    background-color: #FF7218;
}

/* btn boton salir  */
.salir-btn {
    background-color: #FF7218;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: auto;
}

/* li columna dondebse encuntra Botom salir */
.salir-li {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.salir-btn:hover {
    background-color: black;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;


    flex-direction: column;
    background-color: orange;
    opacity: 0.9;
    padding: 20px;
    background: #e65c00;

}   

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}


.footer__container{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .8rem;
    gap: 30px;
    font-size: 2rem;
    margin-bottom: 10px;

}

.footer__h2 {
    color: black;
    margin-bottom: 10px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.footer__a {
    text-decoration: none;
    cursor: pointer;
}

.footer__right p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* CONTENEDOR MAIN  */
.main-container-flex {
    display: flex;
    flex-direction: row;
}


/* FORMULARIO */
.container--form {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    border: solid black;
    margin: 2rem auto;
    padding: 2%;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin: 3rem auto;
    border-radius: 5px;
    width: 50%;
}

.form__head {
    color: #e65c00;
    margin-top: 10px;
    margin-bottom: 10px;
    /*height: 50px;*/
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #e65c00;
}

.form__group {
    width: 90%;
}

.form__label {
    color: #e65c00;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: transparent;
    width: 100%;
}

.form__input, .form__select {
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 5px;
    border: none;
    border-bottom: #ff7217 solid 2px;
    color: white;
}

.form__input[type=file]{
    border: none;
}

.form__input[type=file]::file-selector-button{
    color: #333;
    background-color: #ff7217;
    border: 1px #333 solid;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.form__input[type=file]::file-selector-button:hover{
    color: #ff7217;
    background-color: #333;
    border: 1px #ff7217 solid;
}

.form__select:focus {
    background-color: #333;
    color: white;
}

.form__textarea {
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #dbdbdb;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* width: 70%; */
}

.form__btn {
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.frame {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 3 */
.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: #ff7217;
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

@media screen and (max-width: 650px) {

    .form {
        width: 90%;
    }
}