/* Formulario */
.container--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    margin: 10% 20%;
    padding: 2%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form__head {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;

}

.form__label {
    color: black;
    margin-bottom: .7rem;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
}

.form__input {
    border-radius: 5px;
    background-color: #dbdbdb;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.form__btn {
    display: flex;
    justify-content: center;
}