*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.slider-frame{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    animation: slide 5s infinite alternate ease-in-out;
}
.slider-frame ul{
    display: flex;
    padding: 0;
    width: 300%;
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 100%;
    height: 100%;
}
@keyframes slide{
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -100%;}
    55%{margin-left: -100%;}

    60%{margin-left: -200%;}
    80%{margin-left: -200%;}
}
header{
    width: 100%;
    height: 600px;
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f9d52377, #e65c009e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f9d52377, #e65c009e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}  
.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}
nav>a:hover{
    text-decoration: underline;
    color: rgb(70, 67, 67);
}
.textoinicio{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 400px;
width: 100%;
font-size: 25px;
color:rgb(9, 4, 19);
}
main{
    background: white;
}
.persona{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagenpersona{
    width: 18%;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
    overflow: hidden;
    position: relative;
}
.imagenpersona>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hoverpersona{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hoverpersona p{
    color: rgb(245, 245, 245);
}
.imagenpersona:hover .hoverpersona{
    transform: scale(1);
}