/*Ajustes Generales*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


* {
    font-family: "Poppins", sans-serif; 
}

/*  MAIN  */
.index-main {
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 3rem 3rem 3rem 0;
    background-image: url(./img/fondo_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.index-main .container-card-index {
    margin: 0 20px;
    min-width: 350px;
    max-width: 700px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.3s ease;
}

.index-main .container-card-index:hover {
    box-shadow: 10px 10px 15px black;
}

.index-main .container-card-index h1 {
    font-weight: bold;
    font-size: 40px;
}

.index-main .container-card-index p {
    text-align: justify;
    font-size: 20px;
}
