/*Ajustes Generales*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
/*
body {
    background-image: url(./img/flor_backGround.jpg);
    color: black;
}

Grid de la pagina
.contenedor {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header header header"
        "contenido contenido sidebar"
        "widget-1 widget-2 sidebar"
        "footer footer footer";
}

.contenedor>div,
.contenedor .contenido,
.contenedor .sidebar {
    padding: 20px;
    border-radius: 4px;
}*/

/*Header y barra de navegación*/
/*.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 40px;
    background-color: #ff7217;
    grid-area: header;
    flex-grow: 1;
    border-bottom: 2px solid black;
}

.header__logo {
    display: flex;
    clip-path: inset(0 0 20px 0);
    <---- Propiedad para cortar la parte de abajo de la imagen y que pueda verse mas grande
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    align-content: center;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

.header__logo:hover {
    transform: scale(1.1);
}

.header__logo img {
    width: 100%;
    border-radius: 50% 50%;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}*/
/*
.header .nav-links {
    list-style: none;
    padding: 10px 10px;
    justify-content: space-between;
}

.header .nav-links li {
    display: inline-flex;
    padding: 0px 10px;
    background-color: rgb(44, 26, 44);
    height: 50px;
    border-radius: 50px;

    justify-content: space-between;
}

.header .nav-links li:hover {
    transform: scale(1.2);
}

.header .nav-links a {
    display: flex;
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
    margin-top: 15px;
}

.header .nav-links li a:hover {
    color: red;
}

.header .btn button {
    font-weight: 700;
    color: rgb(30, 30, 121);
    padding: 9px 25px;
    background: gray;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: lightgray;
    color: brown;
    transform: scale(1.1);
}*/

/*Contenido de la pagina

.contenedor .contenido {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./img/gotaDeAgua.jpg);
}

.contenido h1 {
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

.contenido h3 {
    text-align: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgba(82, 136, 217, 0.4);
    box-shadow: 3px 3px 3px #12203e;
}

.contenido h2 {
    text-align: end;
    margin-top: 20px;
    background-color: rgba(82, 136, 217, 0.4);
}

.contenedor .sidebar {
    grid-column: 3/4;
    background: #ff7217;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: sidebar;
}

Cards
.card {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 90%;
    color: red;
    text-align: center;
    justify-content: space-between;
    border: 5px solid black;
    border-style: solid;
    border-width: 1px;
    height: 40%;
    border-radius: 20px;
    background-color: bisque;
    margin-bottom: 15px;
}

.card .card__img {
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
}

.card__img img {
    border-radius: 50px;
    width: 100%;
}

.card__body {
    flex-direction: column;
    width: 50%;
    color: blue;
    text-align: center;
    justify-content: center;
}

.card__body h2 {
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid black;
    border-radius: 50px;
    padding-bottom: 10px;
    height: 30px;
}

.card__body p {
    margin-top: 10px;
    border-bottom: 2px solid black;
    border-radius: 50px;
    padding-bottom: 10px;
    height: 20px;
}

.card__footer {
    text-align: center;
    padding: 10px;
}

Widjets

.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: rgb(44, 26, 44);
    color: white;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor a {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    transition: all 0.3s;
}

.contenedor a:hover {
    transform: scale(1.2);
}

.contenedor .widget-2 {
    grid-area: widget-2;
}

Forms
.form {
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7217;
    border-radius: 2px;
    padding: 10px;
}*/


/*  MAIN  */
.index-main {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 5rem;
    background-image: url(./img/fondo_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.index-main .container-card-index {
    /*margin-top: 3rem;*/
    min-width: 350px;
    max-width: 700px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.3s ease;
}

.index-main .container-card-index:hover {
    box-shadow: 10px 10px 15px black;
}

.index-main .container-card-index p {
    text-align: justify;
}

/*Footer*/
.footer {
    display: flex;
    background-color: rgb(255, 114, 23);
    grid-area: footer;
    width: auto;
    margin: 0;
    list-style: none;
}




.footer .followUs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 35%;
    min-width: 25%;
    border: 1px solid;

}
.footer .followUs .anuncio a{
    display: flex;
    max-width: 50px;
}

.footer .followUs .anuncio a img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.footer .followUs p {
    color: white;
    font-style: normal;
    font-size: smaller;
}

.footer .followUs .redes ul{
    justify-content: space-between;
}
.footer .followUs .redes {
    margin-top: 10px;
}

.footer .redes .fb {
    background-color: blue;
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.footer .redes .tw {
    background-color: rgb(0, 140, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.footer .redes .gl {
    background-color: rgb(230, 186, 5);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.footer .redes .in {
    background-color: rgb(244, 2, 209);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.footer .redes .li {
    background-color: rgb(10, 102, 194);
    padding: 8px;
    border-radius: 50px;
    color: white;
}



.footer .followUs .anuncio p {
    font-size: 18px;
    color: white;
}

.footer .company {
    display: flex;
    flex-direction: row;

}


.footer .company div {
    text-align: center;
    padding: 0 15px;
}

.footer .company div h2 {
    color: rgb(20, 19, 19);
    padding: 10px 0;
}

.footer .company a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.footer .company .F {
    flex-direction: column;
    gap: 10px;
}

.footer .company .I {
    background-color: none;
    border: solid 2px white;
    padding: 10px;
}

.derechos {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20px;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(44, 26, 44);
    color: white;
}

/*Media Querys*/
@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas:
            "header header header"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "widget-1 widget-1 widget-2"
            "footer footer footer";
    }
}
