.main {
    display: flex;

}





/* Estilos para el contenido principal */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 250px;  Ancho de la barra lateral */
    padding: 20px;
    width: 100%;
    background-image: url(/img/locofinder.jpg);
}


/* ACA FUNCIONAMIENTO DE LA TABLA */
.bodycolumna {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
}


/* titulo tabla */
.titulotabla {
    background-color: linear-gradient;
    font-size: 24px;
    color: #2e0d23;
    margin-bottom: 20px;
    transition: color.3s ease-in-out;

}

.titulotabla:hover {
    color: black;
}

.container-usuarios {
    max-width: 1200px;
    width: 100%;
}

.tabla-usuarios {
    border-collapse: collapse;
    width: 100%;

}

.tabla-usuarios th {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    font-size: 16px;
}


.tabla-usuarios td {
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    font-size: 16px;
}

.tabla-usuarios th {
    background-color: #2e0d23;
    color: white;
}

.tabla-usuarios tr {
    background-color: #f7803c;
}

.tabla-usuarios td {
    color: black;
}

.tabla-usuarios td img {
    width: 75px;
    border-radius: 50%;
}