<!--Header-->
<header class="header">
    <a th:href="@{/}" class="header__logo">
        <img class="header__img" th:src="@{/img/logo.jpeg}" alt="Not Found">
    </a>
    <div class="modal__btns" th:if="${session.usersession == null}">
        <div class="boton__modal">
            <a th:href="@{/login}">
                Iniciar Sesion
            </a>
        </div>
        <div class="boton__modal">
            <label for="boton__modal--btn">
                Registrarse
            </label>
        </div>
    </div>
    <div class="boton__modal" th:if="${session.usersession != null}">
        <a th:href="@{/logout}">
            Salir
        </a>
    </div>
    <!-- <div class="header__btn">
        <label class="header__a" for="boton__modal--btn">
            Registrarse
        </label>
        </div> -->
    </div>

    
</header>


<!--Footer-->
<footer th:fragment="footer">
   <div class="container">
    <br>
    <p>Síguenos en redes sociales:</p>
    <a><img th:src="@{img/f.PNG}" alt="Facebook" height="40"></a>
    <br>
    <a><img th:src="@{img/t.PNG}" alt="Twitter" height="40"></a>
    <br>
    <a><img th:src="@{img/p.PNG}" alt="Instagram" height="40"></a>
    <br>
    <p>&copy; 2021 Chacras Company Inc. All rights reserved</p>
   </div>
    
        
</footer>


<!-- Form de login -->
<div th:fragment="form">

    <div class="container--form">
        <form class="form" th:action="@{/logincheck}" method="post">
            <h2 class="form__head">Ingresar</h2>
            <label class="form__label">Email</label><br>
            <input class="form__input" type="email" name="email" required placeholder="email" /><br>
            <label class="form__label">Password</label><br>
            <input class="form__input" type="password" name="password" required placeholder="password" /><br>
            <div class="form__btn">
                <button class="header__btn" type="submit">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>