<!--Header-->
<div th:fragment="header">
  <header class="header">
    <div class="logo">
      <a th:href="@{/}"><img th:src="@{./img/logo.PNG}" alt="Logo"></a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="">¿Podemos ayudarte?</a></li>
        <li><a href="">Obras en marcha</a></li>
      </ul>
    </nav>
    <div class="navBtns">
      <a href="" class="btn"><button>Login</button></a>
      <a th:href="@{/register}" class="btn"><button id="signIn">Sign Up</button></a>
    </div>
  </header>
</div>
<!--Footer-->
<div th:fragment="footer">
  <section class="followUs">

    <div class="anuncio">
      <a th:href="@{/}"><img th:src="@{./img/logo.PNG}" alt="Logo"></a>
      <p>ExpertFinder</p>
    </div>
    <div class="derechos">
      <p>Copyright@2023DerechosReservadosExpertFinder</p>
    </div>
    <div class="redes">
      <ul>
        <span class="fb"><i class="fa-brands fa-square-facebook fa-sm"></i></span>
        <span class="tw"><i class="fa-brands fa-square-twitter fa-sm"></i></span>
        <span class="gl"><i class="fa-brands fa-google fa-sm"></i></span>
        <span class="in"><i class="fa-brands fa-instagram fa-sm"></i></span>
        <span class="li"><i class="fa-brands fa-linkedin"></i></span>
        <ul>
    </div>
  </section>
</div>