<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bem.css">
</head>

<body class="body">
    <div class="header">
        <div class="header__logo">
            <img class="header__img" src="../static/img/Logo_Chacras.jpg" alt="not found">
        </div>
        <div class="modal__btns">

            <div class="header__btn--red">
                <a class="header__a" href="/login">
                    Iniciar Sesion
                </a>
            </div>
            <div class="boton__modal">
                <label for="boton__modal--btn">
                    Registrarse
                </label>
            </div>
        </div>
    </div>
    <article class="article">
        <h1 class="article__h1">we are the world</h1>
        <h3 class="article__h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus
            officia mollitia omnis odit ipsum perspiciatis. Porro quae assumenda hic. Dolore, excepturi perspiciatis
            aperiam ipsum at nam vel laboriosam numquam.</h3>
    </article>
    <div class="footer">
        &copy; 2021 Chacras Company Inc. All rights reserved
    </div>



    <input type="checkbox" id="boton__modal--btn">

    <div class="modal">
        <div class="modal__body">
            <h3>Bienvenido!</h3>
            <div class="modal__btns">

                <div class="modal__btn">
                    <a class="modal__a" href="/register_user">
                        Usuario
                    </a>
                </div>
                <div class="modal__btn">
                    <a class="modal__a" href="/register_professional">
                        trabajador
                    </a>
                </div>
            </div>
            <div class="modal__footer">
                <label for="boton__modal--btn">
                    volver
                </label>
            </div>
        </div>
    </div>
</body>

</html>