<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bem.css">
    <link rel="stylesheet" th:href="@{bem.css}">
    <script src="https://kit.fontawesome.com/f882f47f7e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="body">

        <!-- <div th:if="${session.usuariosession != null}">Usuario Logueado</div>
        <header th:include="fragments/templates.html::header" class="header"></header> -->



        <!-- Header -->


        <div class="header">
            <div class="header__logo">
                <img th:src="@{/img/BobTheConstructor.jpg}" alt="Not Found">
            </div>
            <div class="modal__btns" th:if="${session.usuariosession == null}">
                <div class="header__btn--red">
                    <a class="header__a" th:href="@{/login}">
                        Iniciar Sesion
                    </a>
                </div>
                <div class="boton__modal">
                    <label for="boton__modal--btn">
                        Registrarse
                    </label>
                </div>
            </div>
            <div class="modal__btns" th:if="${session.usuariosession != null}">
                <a th:href="@{/logout}" class="header__btn--red">
                    <button>Salir</button>
                </a>
            </div>
        </div>

        <!-- Articulo -->


        <article class="article">
            <h1 class="article__h1">we are the world</h1>
            <h3 class="article__h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus
                officia mollitia omnis odit ipsum perspiciatis. Porro quae assumenda hic. Dolore, excepturi perspiciatis
                aperiam ipsum at nam vel laboriosam numquam.</h3>
        </article>



        <!-- Footer -->
        <!-- <footer class="footer" th:include="fragments/templates.html::footer"></footer> -->

        <div class="footer">
            &copy; 2021 Chacras Company Inc. All rights reserved
        </div>




        <!-- Modal -->

        <input type="checkbox" id="boton__modal--btn">

        <div class="modal">
            <div class="modal__body">
                <h3>Bienvenido!</h3>
                <div class="modal__btns">

                    <div class="modal__btn">
                        <a class="modal__a" th:href="@{/register}">
                            Usuario
                        </a>
                    </div>
                    <div class="modal__btn">
                        <a class="modal__a" href="/register_professional">
                            trabajador
                        </a>
                    </div>
                </div>
                <div class="modal__footer">
                    <label for="boton__modal--btn">
                        volver
                    </label>
                </div>
            </div>
        </div>




    </div>
</body>

</html>