<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

  <header th:replace="/fragments/templates.html :: header"></header>

  <main class="main-container-flex">

    <aside th:replace="/fragments/templates.html :: aside"></aside>
    <form th:action="@{/comment/register}" method="post" class="form">

      <input type="hidden" name="idTask" th:value="${task.id}">
      <input type="hidden" name="idUser" th:value="${task.user.id}">
      <input type="hidden" name="idProfessional" th:value="${task.professional.id}">

      <h2 class="form__head">Crear Comentario</h2>

      <div class="form__group">
        <label class="form__label" for="content">Ingrese un comentario</label>
        <input class="form__input" type="text" name="content" id="content">
      </div>

      <div class="form__group">
        <label class="form__label" for="score">Puntuación</label>
        <input class="form__input" type="number" name="score" id="score" min="1" max="5">
      </div>

      <div class="frame">
        <button type="submit" class="custom-btn btn-3"><span>Comentar</span></button>
      </div>

    </form>
  </main>

  <footer th:replace="/fragments/templates.html :: footer"></footer>

</body>

</html>