<footer class="footer">
  <div class="container">
      <div class="footer-row">
          <div class="footer-links">
              <h4>Compañía</h4>
              <ul>
                  <li><a href="#">Nosotros</a></li>
                  <li><a href="#">Nuestros servicios</a></li>
                  <li><a href="#">Política de privacidad</a></li>
              </ul>
          </div>
          <div class="social-links">
              <h4>Síguenos</h4>
              <ul>
                  <li><a href="#" class="fa-facebook-f"></a></li>
                  <li><a href="#" class="fa-instagram"></a></li>
                  <li><a href="#" class="fa-twitter"></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>







