<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Expert Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{index.css}">
    <script src="https://kit.fontawesome.com/f882f47f7e.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="contenedor">
        <header th:include="fragments/templates.html::header" class="header"></header>
        <main class="contenido">
            <h1>Trabajamos para vos</h1>
            <h3>Todo lo que necesitas sin salir de tu casa, encontra aca todos los servicios habilitados por el barrio
            </h3>
            <h2>Chacras de coria</h2>
        </main>
        <aside class="sidebar">
            <div class="card">
                <div class="card__img">
                    <img th:src="@{/img/BobTheConstructor.jpg}" alt="Not Found">
                </div>
                <div class="card__body">
                    <h2>Bob</h2>
                    <p>Constructor</p>
                    <div class="card__footer">
                        <h3>5 Estrellas</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="" alt="Not Found">
                </div>
            </div>
        </aside>
        <div class="widget-1">
            <a href="http://">
                <h3>CONSTRUCCION</h3>
            </a>
        </div>
        <div class="widget-2">
            <a href="http://">
                <h3>MANTENIMIENTO</h3>
            </a>
        </div>
        <footer class="footer" th:include="fragments/templates.html::footer"></footer>
    </div>

</body>

</html>