<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chacras Finder</title>
    <link rel="stylesheet" href="../static/bem.css">
    <link rel="stylesheet" th:href="@{bem.css}">
    <link rel="icon" th:href="@{/img/logo-pestaña.jpeg}" type="image/x-icon">
    <!--<link rel="stylesheet" th:href="@{index.css}">-->
    <script src="https://kit.fontawesome.com/f882f47f7e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <!-- <div th:if="${session.usuariosession != null}">Usuario Logueado</div>
        <header th:include="fragments/templates.html::header" class="header"></header> -->



        <!-- Header -->


        <div class="header">
            <div class="header__logo">
                <img class="header__img" th:src="@{/img/logo-pestaña.jpeg}" alt="Not Found">
            </div>
            <div class="header__btns" th:if="${session.usuariosession == null}">

               
                    <div class="header__btn">
                        <a class="header__a" th:href="@{/login}">
                            Iniciar Sesion
                        </a>
                    </div>
                    <div class="header__btn">
                        <label class="header__a" for="boton__modal--btn">
                            Registrarse
                        </label>
                    </div>
                
                <div class="header__btn" th:if="${session.usuariosession != null}">
                    <a th:href="@{/logout}" class="header__btn">
                        <button>Salir</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Articulo -->


        <article class="article">
            <h1 class="article__h1">Bienvenido vecino!</h1>
            <h3 class="article__h3">Encontra al personal de mejor calidad que estabas buscando!.
            </h3>
            <h3 class="article__h3">
                Todos los servicios que se brindan en este espacio son certificados por la administracion y la misma comunidad de vecinos.     
            </h3>
            <h3 class="article__h3"> 
                Ingresa a nuestra web con tu codigo de barrio y sumate a esta red de vecinos y trabajadores!
            </h3>
        </article>



        <!-- Footer -->
    <footer class="footer" th:include="fragments/templates.html::footer"></footer> 





        <!-- Modal -->

        <input type="checkbox" id="boton__modal--btn">

        <div class="modal">
            <div class="modal__body">
                <h3>Bienvenido!</h3>
                <div class="modal__btns">

                    <div class="header__btn">
                        <a class="header__a" th:href="@{/register-user}">
                            Usuario
                        </a>
                    </div>
                    <div class="header__btn">
                        <a class="header__a" th:href="@{/register-professional}">
                            Trabajador
                        </a>
                    </div>
                </div>
                <div class="modal__footer">
                    <div class="header__btn--back">
                        <label class="header__a" for="boton__modal--btn">
                            volver
                        </label>
                    </div>
                </div>
            </div>
        </div>




    </div>
</body>

</html>




























<!-- <!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Expert Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{index.css}">
    <script src="https://kit.fontawesome.com/f882f47f7e.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="contenedor">
        <div th:if="${session.usuariosession != null}">Usuario Logueado</div>
        <header th:include="fragments/templates.html::header" class="header"></header>
        <main class="contenido">
            <h1>Trabajando para la comunidad</h1>
            <h3>Todo lo que necesitas sin salir de tu casa, encontra aca todos los servicios habilitados por el barrio.
                Chacras de Coria, junto a ExpertFinder, buscan brindarte todas las asistencias que requieras para hacer de tu estadía en nuestros barrios una experiencia única, relajante y de especial calidez para nuestros vecinos.
                Aqui podrás encontrar a los mejores profesionales certificados por ExpertFinder, capaces de brindar un excelente servicio, y la mas alta calidad humana. Podrás elegir entre todo el personal disponible, contando con una calificacion proporcionada por los mismos vecinos basada en puntajes y una descripcion de la forma y el precio del profesional por dia, para que puedas elegir a quien mas se adapte a tus necesidades!.
                Esperamos que tu estadía en las Charas de Coria cumplan con todos tus sueños y expectativas.
            </h3>
            <h2>Chacras de coria les desea una buena vida</h2>
        </main>
        <aside class="sidebar">
            <div class="card">
                <div class="card__img">
                    <img th:src="@{/img/BobTheConstructor.jpg}" alt="Not Found">
                </div>
                <div class="card__body">
                    <h2>Bob</h2>
                    <p>Constructor</p>
                    <div class="card__footer">
                        <h3>5 Estrellas</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img th:src="@{/img/BobTheConstructor.jpg}" alt="Not Found">
                </div>
                <div class="card__body">
                    <h2>Bob</h2>
                    <p>Constructor</p>
                    <div class="card__footer">
                        <h3>5 Estrellas</h3>
                    </div>
                </div>
            </div>
            
        </aside>
        <div class="widget-1">
            <a href="http://">
                <h3>CONSTRUCCION</h3>
            </a>
        </div>
        <div class="widget-2">
            <a href="http://">
                <h3>MANTENIMIENTO</h3>
            </a>
        </div>
        <footer class="footer" th:include="fragments/templates.html::footer"></footer>
    </div>

</body>

</html> -->