<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

  <!--HEADER-->
  <header th:replace="/fragments/templates.html :: header"></header>

  <main class="main-container-flex">

    <aside th:replace="/fragments/templates.html :: aside"></aside>


    <form th:action="@{/job/update}" enctype="multipart/form-data" method="post" class="form">
      <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
          <h5 class="card-title">Error al cargar</h5>
          <p class="card-text" th:text="${error}"></p>
        </div>
      </div>
      <h2 class="form__head">Editar Servicio</h2>
      <br>
      <input type="hidden" th:value="${job.id}" name="id" />
      <div class="form__group">
        <label class="form__label" for="nombre">Nombre del Servicio</label>
        <input class="form__input" type="text" id="name" name="name" required th:value="${job.name}">
      </div>
      <div class="form__group">
        <label class="form__label" for="nombre">Nombre del Servicio</label>
        <input class="form__input" type="file" id="name" name="file" required>
      </div>
      <div style="width: 200px;">
        <img width="100%" th:src="@{/image/__${job.image.id}__}" alt="">
      </div>
      <div class="frame">
        <button type="submit" class="custom-btn btn-3"><span>Modificar Servicio</span></button>
      </div>
    </form>
  </main>


</body>

</html>