<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{bem.css}">
    <link rel="icon" th:href="@{/img/logo-pestaña.jpeg}" type="image/x-icon">
    <title>Login</title>
</head>

<body>

    <header th:include="/fragments/templates.html::header"></header>
    <div th:include="/fragments/templates.html::form" class="container"></div>
</body>

</html>