<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/templates.html :: head"></head>

<body>
    <!--HEADER-->
    <header th:replace="/fragments/templates.html :: header"></header>

    <!--Main-->
    <main class="main-container">

        <aside th:replace="/fragments/templates.html :: aside"></aside>

        <div class="contenido">
            <div class="bodycolumna">
                <h1 class="titulotabla">Usuarios Registrados</h1>
                <div class="container-usuarios">
                    <table class="tabla-usuarios">
                        <thead>
                            <tr>
                                <!-- Primera Fila -->
                                <th>Foto</th>
                                <th>Nombre Completo</th>
                                <th>Email</th>
                                <th>Dirección</th>
                                <th>Estado</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td><img th:src='@{/image/__${user.image.id}__}' /></td>
                                <td th:text="${user.name} + ' ' + ${user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.location.address}"></td>
                                <td th:text="${user.active ? 'Activo' : 'No Activo'}"></td>
                                <td><a th:href="@{/user/deactivate/__${user.id}__}"><button>Desactivar</button></a>
                                    <a th:href="@{/user/activate/__${user.id}__}"><button>Activar</button></a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="/fragments/templates.html :: footer"></footer>
</body>

</html>