<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

    <header th:replace="/fragments/templates.html :: header"></header>

    <!-- Modal -->
    <input type="checkbox" id="boton__modal--btn">

    <div class="modal">
        <div class="modal__body">
            <h3>Bienvenido!</h3>
            <div class="modal__btns">

                <div class="header__btn">
                    <a class="header__a" th:href="@{/register-user}">
                        Usuario
                    </a>
                </div>
                <div class="header__btn">
                    <a class="header__a" th:href="@{/register-professional}">
                        Trabajador
                    </a>
                </div>
            </div>
            <div class="modal__footer">
                <div class="header__btn--back">
                    <label class="header__a" for="boton__modal--btn">
                        Volver
                    </label>
                </div>
            </div>
        </div>
    </div>

    <main class="main-login">
        <form th:action="@{/register-professional}" method="post" class="form" enctype="multipart/form-data">
            <h2 class="form__head">Crear Perfil Profesional</h2>
            <div class="form__group">
                <label for="name" class="form__label" >Nombre</label>
                <input class="form__input" type="text" id="name" name="name" th:value=${name} /> 
                <br>
                <p th:replace="/fragments/templates.html :: .p1"></p>
            </div>
            <div class="form__group">
                <label for="lastName" class="form__label">Apellido</label>
                <input class="form__input" type="text" id="lastName" name="lastName" th:value=${lastName} /> <br>
                  <p th:replace="/fragments/templates.html :: .p2"></p>
            </div>
            <div class="form__group">
                <label for="email" class="form__label">Email</label>
                <input class="form__input" type="text" id="email" name="email" th:value=${email} /> <br>
                <p th:if="${error11!=null}" th:text=${error11} ></p>
            </div>
            <div class="form__group">
                <label for="password" class="form__label">Password</label>
                <input class="form__input" type="password" id="password" name="password" th:value=${password} /> <br>
                <p th:if="${error3!=null}" th:text=${error3} ></p>
            </div>
            <div class="form__group">
                <label for="password2" class="form__label">Repetir la contraseña</label>
                <input class="form__input" type="password" id="password2" name="password2" /> <br>
                 <p th:if="${error4!=null}" th:text=${error4} ></p>
            </div>

            <div class="form__group">
                <label for="address" class="form__label">Dirección</label>
                <input class="form__input" type="text" id="address" name="address" th:value=${address} /> <br>
                  <p th:if="${error5!=null}" th:text=${error5} ></p>
            </div>

            <div class="form__group">
                <label for="file" class="form__label">Foto de Perfil</label>
                <input class="form__input" type="file" id="file" name="file"  /> <br>
                <p th:if="${error6!=null}" th:text=${error6}></p>
            </div>

            <div class="form__group">
                <label for="job" class="form__label">Servicio a Ofrecer</label>
                <select class="form__select" id="job" name="idJob" >
                    <option th:each="job : ${jobs}" th:value="${job.id}" th:text="${job.name}"></option>
                     <p th:if="${error7!=null}" th:text=${error7}></p>
                </select>
            </div>

            <div class="form__group">
                <label for="description" class="form__label">Descripción</label>
                <textarea class="form__textarea" name="description" id="description" rows="10" th:text=${description} ></textarea>
                 <p th:if="${error8!=null}" th:text=${error8} ></p>
            </div>

            <div class="form__group">
                <label for="license" class="form__label">Matrícula</label>
                <input class="form__input" type="text" id="license" name="license" th:value=${license} /> <br>
                <p th:if="${error9!=9}" th:text=${error9} ></p>
            </div>

            <div class="form__group">
                <label for="phone" class="form__label">Teléfono</label>
                <input class="form__input" type="tel" id="phone" name="phone" th:value=${phone} /> <br>
                <p th:if="${error10!=null}" th:text=${error10} ></p>
            </div>

            <div class="frame">
                <button type="submit" class="custom-btn btn-3"><span>Crear Perfil</span></button>
            </div>
        </form>
    </main>

    <footer th:replace="/fragments/templates.html :: footer"></footer>


</body>

</html>