<!DOCTYPE html>

<html>

<head th:replace="/fragments/templates.html :: head"></head>

<body>

    <header th:replace="/fragments/templates.html :: header"></header>

    <main class="main-container">

        <aside th:replace="/fragments/templates.html :: aside"></aside>

        <div>Lista de Profesionales</div>
        <table>
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="professional : ${professionals}">
                    <td th:text="${professional.name}"></td>
                    <td th:text="${professional.email}"></td>
                </tr>
            </tbody>
        </table>

    </main>

</body>

</html>