<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

    <header th:replace="/fragments/templates.html :: header"></header>

    <main class="main-container">

        <aside th:replace="/fragments/templates.html :: aside"></aside>

        <div class="contenido">
            <div class="bodycolumna">
                <h1 class="titulotabla">Lista de Profesionales</h1>
                <div class="container-usuarios">
                    <table class="tabla-usuarios">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre Completo</th>
                                <th>Servicio</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Puntuación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="professional : ${professionals}">
                                <td><img th:src='@{/image/profile-professional/__${professional.id}__}' /></td>
                                <td th:text="${professional.name} + ' ' + ${professional.lastName}"></td>
                                <td th:text="${professional.job.name}"></td>
                                <td th:text="${professional.location.address}"></td>
                                <td th:text="${professional.phone}"></td>
                                <td>
                                    <div class="boton__modal" th:if="${session.usersession != null}">
                                        <a th:href="@{/professional/profile/__${professional.id}__}">
                                            Ver Perfil
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="/fragments/templates.html :: footer"></footer>

</body>

</html>