<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Profesional</title>
    <link rel="icon" th:href="@{img/logo-pestaña.jpeg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/prologin.css}">

</head>

<body class="body-form-profesional">

    <h1 class="form-profesional-titulo">Formulario del profesional</h1>

    <form th:action="@{/logincheck}" method="post" class="form-profesional">
        <label for="nombre">Nombre del Profesional:</label>
        <input type="text" id="name" name="nombre" required>
        <br>
        <label for="nombre">Nombre de la Matricula:</label>
        <input type="text" id="matricula" name="nombre" required>
        <br>
        <label for="nombre">Nombre del servicio:</label>
        <input type="text" id="service" name="nombre" required>
        <br>

        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria" required>
            <option value="">Seleccione una categoría</option>
            <option value="Carpinteria">Carpinteria</option>
            <option value="Mantenimiento">Mantenimiento</option>
            <option value="Jardineria">Jardineria</option>
            <option value="Limpieza">Limpieza</option>
            <option value="Pintor">Pintor</option>
            <option value="Electricista">Electricista</option>
        </select>
        <br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" min="0.01" step="0.01" required>

        <br>

        <label for="descripcion">Descripción del servicio:</label>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea>

        <br>

        <input type="submit" value="Crear Servicio">
    </form>

</body>

</html>