<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/templates.html :: head"></head>

<body>
    <header th:replace="/fragments/templates.html :: header"></header>
    <main class="main-container-flex">
        <aside th:replace="/fragments/templates.html :: aside"></aside>
        <div class="barrasflex">
            <div class="barraIzquierda">
                <div class="cajaImagen">
                    <img th:src="@{/image/__${professional.image.id}__}" alt="">
                </div>
                <div class="informacion">
                    <div id="tarea">
                        <p>Tarea:</p>
                        <p th:if="${professional.tasks == null}">El profesional esta ocupado actualmente</p>
                        <p th:if="${professional.tasks != null}">El profesional esta desocupado actualmente</p>
                    </div>
                    <div id="profesion">
                        <p>Profesion: </p>
                        <p th:text="${professional.job.name}"></p>
                    </div>
                    <div id="licencia">
                        <p>Licencia</p>
                        <p th:text="${professional.license}"></p>
                    </div>
                    <div id="numero">
                        <p>Numero</p>
                        <p th:text="${professional.phone}"></p>
                    </div>
                    <div id="descripcion">
                        <p>Descripcion</p>
                        <p th:text="${professional.description}"></p>
                    </div>

                </div>
            </div>

            <div class="barraDerecha">

                <h1>Comentarios de tareas</h1>

                <div class="carts">
                    <div class="cart">
                        <div class="hovercart">
                            <p class="nombre">nombre</p>
                            <p class="descripcion">descripcion</p>
                        </div>
                    </div>
                    <div class="cart">
                        <div class="hovercart">
                            <p class="nombre">nombre</p>
                            <p class="descripcion">descripcion</p>
                        </div>
                    </div>
                    <div class="cart">
                        <div class="hovercart">
                            <p class="nombre">nombre</p>
                            <p class="descripcion">descripcion</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="barraFinal" sec:authorize="hasRole('USER')">

            <form action="post" class="form">
                <input type="hidden" name="idProfessional" th:value="${professional.id}">
                <input type="hidden" name="idUser" th:value="${session.usersession.id}">
                <h2 class="form__head">Contactese con el profesional</h2>
                <div class="form__group">
                    <label for="title" class="form__label"></label>
                    <input class="form__input" type="text" name="title" id="title">
                </div>
                <div class="form__group">
                    <label for="description" class="form__label"></label>
                    <input class="form__input" type="text" name="description" id="description">
                </div>
                <button type="submit">Enviar</button>
            </form>

        </div>

    </main>
    <footer th:replace="/fragments/templates.html :: footer"></footer>
</body>

</html>