<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

  <header th:replace="/fragments/templates.html :: header"></header>

  <main class="main-container">

    <aside th:replace="/fragments/templates :: aside"></aside>

    <div class="contenido">
      <div class="bodycolumna">
        <h1 class="titulotabla">Lista de Tareas</h1>
        <div class="container-usuarios">
          <table class="tabla-usuarios">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Profesional</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="task : ${tasks}">
                <td th:text="${task.createAt}" id="fechaCompleta"></td>
                <td th:text="${task.professional.name} + ' ' + ${task.professional.lastName}"></td>
                <td th:text="${task.status}"></td>
                <td>
                  <div class="boton__modal" th:if="${session.usersession != null}" sec:authorize="hasRole('USER')">
                    <a th:href="@{/task/__${task.professional.id}__}">
                      Ver Perfil
                    </a>
                  </div>
                  <div class="boton__modal" th:if="${session.usersession != null}" sec:authorize="hasRole('PRO')">
                    <a th:href="@{/task/get/__${task.id}__}">
                      Editar Tarea
                    </a>
                  </div>
                </td>

              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="/fragments/templates.html :: footer"></footer>

  <script>
    // Obtener el contenido de la etiqueta que contiene la fecha completa
    var fechaCompleta = document.getElementById("fechaCompleta").textContent;

    // Convertir la fecha en un objeto Date de JavaScript
    var fechaObjeto = new Date(fechaCompleta);

    // Formatear la fecha en un formato más corto (YYYY-MM-DD)
    var fechaCorta = fechaObjeto.toISOString().split('T')[0];

    // Actualizar el contenido de la etiqueta con la fecha corta
    document.getElementById("fechaCompleta").textContent = fechaCorta;


    // Obtener el contenido de la etiqueta que contiene la fecha completa
    var fechaCompleta = document.getElementById("fechaCompleta").textContent;

    // Dividir la fecha en partes (año, mes, día)
    var partesFecha = fechaCompleta.split('-');
    var ano = partesFecha[0];
    var mes = partesFecha[1];
    var dia = partesFecha[2];

    // Formatear la fecha en "DD-MM-YYYY"
    var fechaCorta = dia + '-' + mes + '-' + ano;

    // Actualizar el contenido de la etiqueta con la fecha corta
    document.getElementById("fechaCompleta").textContent = fechaCorta;
  </script>
</body>

</html>