<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

  <header th:replace="/fragments/templates.html :: header"></header>

  <main class="main-container-flex">

    <aside th:replace="/fragments/templates.html :: aside"></aside>

    <section class="user-container-flex">
      <div class="cajaImagen">
        <img th:src="@{/image/__${user.image.id}__}" alt="">
      </div>
      <div class="informacion">
        <div id="nombre">
          <p>
            Nombre: <strong th:text="${user.name} + ' ' + ${user.lastName}"></strong>
          </p>
        </div>
        <div id="mail">
          <p>
            Email: <strong th:text="${user.email}"></strong>
          </p>
        </div>

        <div class="boton__modal" th:if="${session.usersession.id == user.id}">
          <a class="" th:href="@{/user/update/__${session.usersession.id}__}">Editar Perfil</a>
        </div>

        <div class="boton__modal" th:if="${session.usersession.id == user.id}">
          <a class="" th:href="@{/user/deactivate/__${session.usersession.id}__}">Eliminar Perfil</a>
        </div>
        
      </div>
    </section>

  </main>

  <footer th:replace="/fragments/templates.html :: footer"></footer>

</body>

</html>