<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/templates.html :: head"></head>

<body>

  <header th:replace="/fragments/templates.html :: header"></header>

  <main class="main-container-flex">
    <aside th:replace="/fragments/templates.html :: aside"></aside>

    <form th:action="@{/user/update}" class="form" method="post" th:object="${user}">
      <h2 class="form__head">Actualizar Perfil</h2>

      <input type="hidden" th:field="*{id}">

      <div class="form__group">
        <label class="form__label" for="">Nombre</label>
        <input class="form__input" type="text" th:field="*{name}">
      </div>

      <div class="form__group">
        <label class="form__label" for="">Apellido</label>
        <input class="form__input" type="text" th:field="*{lastName}">
      </div>

      <div class="form__group">
        <label class="form__label" for="">Email</label>
        <input class="form__input" type="email" th:field="*{email}">
      </div>

      <div class="form__group">
        <label for="" class="form__label">Foto de Perfil</label>
        <img width="100%" th:src="@{/image/__${user.id}__}" alt="Foto de perfil">
        <input type="file" class="form__input" name="file">
      </div>

      <div class="frame">
        <button type="submit" class="custom-btn btn-3"><span>Actualizar</span></button>
      </div>
    </form>
  </main>

  <footer th:replace="/fragments/templates.html :: footer"></footer>
</body>

</html>